.cart{
    padding-top: 60px;
    padding-bottom: 80px;
}
.cart-btn {
    padding: 0 10px;
    line-height: 35px;
    background-color: #2c2d3e;
    color: #fff;
    border: 1px solid #2c2d3e;
    outline: unset !important;
    letter-spacing: 1px;
    text-transform: uppercase;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
    font-size: 12px;
    cursor: pointer;
    font-family: 'Open Sans';
    border-radius: 3px;
    font-weight: 400;
}

.table-bordered td{
    border: 1px solid #dee2e6;
    vertical-align: middle !important;
    padding: 10px 10px;
    font-size: 14px;
    font-weight: 500;
}

.heading{
    border-bottom-width: 0px;
    vertical-align: middle;
    padding: 15px 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
    font-weight: 600;
    border-color: #e8f4fc;
}

.cart-control{
    border: none;
    text-align: right;
}

.total{
    text-align: right;
}